<h1>Pague Sempre</h1>
<nav> 
  <ul>
    <li><a routerLink="/contas/criar" routerLinkActive="active" ariaCurrentWhenActive="page">Criar Conta</a></li>
    <li><a routerLink="/contas" routerLinkActive="active" ariaCurrentWhenActive="page">Listar Contas</a></li>
    <li><a routerLink="/tipoconta/criar" routerLinkActive="active" ariaCurrentWhenActive="page">Criar Tipos de Contas</a></li>
    <li><a routerLink="/tipoconta/listar" routerLinkActive="active" ariaCurrentWhenActive="page">Listar Tipo de Contas</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>


