<h1>Tipos de Contas Cadastradas</h1>
<p> Separe as suas contas por Tipo de Conta, para manter um controle e organização financeira.
<table class="table">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Descrição</th>
    </tr>

    <tr *ngFor="let tipoconta of tipoconta" scope="row">
        <td>{{tipoconta.id}}</td>
        <td>{{tipoconta.nome}}</td>
        <td>{{tipoconta.descricao}}</td>
        <td>
            <button class="btn btn-danger" (click)="remover(tipoconta.id!)">Remover</button>
        </td>
    
        <td>
            <a class="btn btn-warning" routerLink="/tipoconta/alterar/{{tipoconta.id}}">Alterar</a>
        </td>
    </tr>

</table>