<div class="card col-md-6 col-sm-12 mb-4">
    <div class="card-body col-md-10 col-sm-12">
        <h2 *ngIf="!id">Cadastrar Tipo de Conta</h2>
        <h2 *ngIf="id">Editar Tipo de Conta</h2>
        <div class="form">
            <div id="nome" class="form-group">
                <label for="txtNome">Nome</label>
                <input class="form-control" type="string" id="txtNome" [(ngModel)]="nome" />
            </div>


            <div id="descricao" class="form-group">
                <label for="txtDescricao">Descrição</label>
                <input class="form-control" type="string" id="txtDescricao" [(ngModel)]="descricao" />
            </div>

            <div class="text-right">
                <button *ngIf="!id" id="btnCadastrar" (click)="cadastrar()"  class="btn btn-success mt-3">Cadastrar</button>
                <button *ngIf="id" id="btnCadastrar" (click)="alterar()"  class="btn btn-success mt-3">Salvar</button>
            </div>
        </div>
    </div>
</div>